@font-face {
    font-family: Welcome;
    src: url(Poppins-Bold.ttf);
}

body {
    background: url("construct1.jpeg") no-repeat fixed;
    object-fit: cover;
}

.homeimg {
    margin-top: 2%;
    border-radius: 25px;
    width: 100%;
}

.head {
    font-family: "Arial";
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.homepageimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
}

.homeintro {
    font-size: x-large;
    padding: 30px;
}

.logo {
    height: 8%;
    width: 16%;
    float: left;
}

td {
    font-size: large;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: x-large;
}

a:hover {
    background-color: rgba(149, 127, 87, 255);
}

button {
    padding: 0;
    border: none;
    border-radius: 9px;
    background-color: rgba(61, 61, 61, 27);
}

.VarunJi:hover {
    color: brown;
    background-color: transparent;
}

.homelink {
    color: blue;
    text-align: left;
    display: inline;
}

.homelink:hover {
    color: brown;
    background-color: transparent;
}

table td video {
    margin-top: 5%;
}

video {
    border-radius: 5%;
    width: 700px;
    height: 400px; 
}

p {
    font-family: Welcome;
    text-align: center;
    margin: 0.2%;
    font-size: 400%;
    font-style: italic;
    color: rgba(149, 127, 87, 255);
}